*{
    margin: 0;
    padding: 0;
}

a{text-decoration: none;
color: #000000;}

.header{
    height: 8vh;
    background-color: rgb(238, 238, 238);
    display:grid;
    grid-template-columns: 2.5% 10% 0% 10% 0% 10% 0% 10% 57.5%;
    justify-items: center;
    align-items: center;
}


.cta1 {
    border: none;
    background: none;
    cursor: pointer;
    grid-column: 2;
  }
  
  .cta1 span {
    padding-bottom: 7px;
    letter-spacing: 4px;
    font-size: 14px;
    padding-right: 15px;
    text-transform: uppercase;
  }
  
  
  .hover-underline-animation {
    position: relative;
    color: black;
    padding-bottom: 20px;
  }
  
  .hover-underline-animation:after {
    content: "";
    position: absolute;
    width: 90%;
    transform: scaleX(0);
    height: 2px;
    bottom: 0;
    left: 0;
    background-color: #000000;
    transform-origin: bottom right;
    transition: transform 0.25s ease-out;
  }
  
  .cta1:hover .hover-underline-animation:after {
    transform: scaleX(1);
    transform-origin: bottom left;
  }


.cta2 {
    border: none;
    background: none;
    cursor: pointer;
    grid-column: 4;
  }
  
  .cta2 span {
    padding-bottom: 7px;
    letter-spacing: 4px;
    font-size: 14px;
    padding-right: 15px;
    text-transform: uppercase;
  }
  
  
  .hover-underline-animation {
    position: relative;
    color: black;
    padding-bottom: 20px;
  }
  
  .hover-underline-animation:after {
    content: "";
    position: absolute;
    width: 90%;
    transform: scaleX(0);
    height: 2px;
    bottom: 0;
    left: 0;
    background-color: #000000;
    transform-origin: bottom right;
    transition: transform 0.25s ease-out;
  }
  
  .cta2:hover .hover-underline-animation:after {
    transform: scaleX(1);
    transform-origin: bottom left;
  }
  
  .cta3 {
    border: none;
    background: none;
    cursor: pointer;
    grid-column: 6;
  }
  
  .cta3 span {
    padding-bottom: 7px;
    letter-spacing: 4px;
    font-size: 14px;
    padding-right: 15px;
    text-transform: uppercase;
  }
  
  
  .hover-underline-animation {
    position: relative;
    color: black;
    padding-bottom: 20px;
  }
  
  .hover-underline-animation:after {
    content: "";
    position: absolute;
    width: 90%;
    transform: scaleX(0);
    height: 2px;
    bottom: 0;
    left: 0;
    background-color: #000000;
    transform-origin: bottom right;
    transition: transform 0.25s ease-out;
  }
  
  .cta3:hover .hover-underline-animation:after {
    transform: scaleX(1);
    transform-origin: bottom left;
  }

  .cta4 {
    border: none;
    background: none;
    cursor: pointer;
    grid-column: 8;
  }
  
  .cta4 span {
    padding-bottom: 7px;
    letter-spacing: 4px;
    font-size: 14px;
    padding-right: 15px;
    text-transform: uppercase;
  }
  
  
  .hover-underline-animation {
    position: relative;
    color: black;
    padding-bottom: 20px;
  }
  
  .hover-underline-animation:after {
    content: "";
    position: absolute;
    width: 90%;
    transform: scaleX(0);
    height: 2px;
    bottom: 0;
    left: 0;
    background-color: #000000;
    transform-origin: bottom right;
    transition: transform 0.25s ease-out;
  }
  
  .cta4:hover .hover-underline-animation:after {
    transform: scaleX(1);
    transform-origin: bottom left;
  }



.container1{
    height: 95vh;
    display: grid;
    grid-template-columns: 2.5% 35% 5% 50% 5% 2.5%;
    grid-template-rows: 2.5% 25% 35% 35% 2.5%;
}

.detalhepontual{
    text-decoration: underline;
}

.card1{
    grid-row-start: 2;
    grid-row-end: 5;
    grid-column: 2;
}

.card1img{
    border-top-right-radius: 1.2rem;
    border-bottom-left-radius: 1.2rem;
    width: 100%;
    height: 100%;
    box-shadow: rgba(50, 50, 93, 0.25) 0px 6px 12px -2px,
    rgba(0, 0, 0, 0.3) 0px 3px 7px -3px;
  transition: all ease-in-out 0.5s;
    
}
  
.card1img:hover{
    background-color: #fdfdfd;
    box-shadow: rgba(0, 0, 0, 0.09) 1px 2px 1px, rgba(0, 0, 0, 0.09) 4px 4px 2px,
      rgba(0, 0, 0, 0.09) 8px 8px 4px, rgba(0, 0, 0, 0.09) 16px 16px 8px,
      rgba(0, 0, 0, 0.09) 32px 32px 16px, rgba(0, 0, 0, 0.09) 64px 64px 32px;
      transition: all ease-in-out 0.5s;

}

.titulocontainer1{
    grid-row-start: 3;
    grid-column-start: 4;
    justify-self: center;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    letter-spacing: 3px
}

.descricaoinicial{
    grid-row-start: 3;
    grid-column-start: 4;
    justify-self: center;
    align-self: center;

}

.espaco{
    height: 20vh;
    align-content: center;
    display: grid;
    grid-template-columns: 2.5% 95% 2.5%;
}

.espaco hr {
    grid-column-start: 2;
}

.container2{
    height: 60vh;
    display: grid;
    grid-template-columns: 2.5% 50% 5% 40% 2.5%;
    grid-template-rows: 2.5% 10% 85% 2.5% ;
}

.titulocontainer2{
    grid-column-start: 2;
    grid-row-start: 2;
    align-self: center;
    justify-self: center;
    letter-spacing: 3px
}

.conteudocontainer2{
    grid-row-start: 3;
    grid-column-start: 2;
    align-self: center;
    justify-self: center;
}

.imagemcontainer2{
    grid-row-start: 3;
    grid-column-start: 4;
    box-shadow: rgba(50, 50, 93, 0.25) 0px 6px 12px -2px,
    rgba(0, 0, 0, 0.3) 0px 3px 7px -3px;
  transition: all ease-in-out 0.5s;
  border-top-right-radius: 17px;
  border-bottom-left-radius: 17px;

}

.imagemcontainer2:hover{
    background-color: #fdfdfd;
    box-shadow: rgba(0, 0, 0, 0.09) -1px 2px 1px, rgba(0, 0, 0, 0.09) -4px 4px 2px,
      rgba(0, 0, 0, 0.09) -8px 8px 4px, rgba(0, 0, 0, 0.09) -16px 16px 8px,
      rgba(0, 0, 0, 0.09) -32px 32px 16px, rgba(0, 0, 0, 0.09) -64px 64px 32px;
      transition: all ease-in-out 0.5s;
      ;
}

.espaco2{
    height: 10vh;
}

.container3{
    background-image: url('../IMG/lampadahdhorizontal.jpeg');
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
    height: 90vh;
}

.espaco3{
    height: 20vh;
    align-content: center;
    display: grid;
    grid-template-columns: 20% 60% 20%;
}

.espaco3 hr {
    grid-column-start: 2;
}

.container4{
    height: 100vh;
    display: grid;
    grid-template-columns: 2.5% 30% 2.5% 30% 2.5% 30% 2.5%;
    grid-template-rows: 15% 80% 5%;
}


.titulocontainer4{
    grid-column-start: 4;
    align-self: center;
    justify-self: center;
    letter-spacing: 3px
}

.cardc4-1 {
    height: 100%;
    width: 100%;
    position: relative;
    transition: all 0.4s cubic-bezier(0.645, 0.045, 0.355, 1);
    border-radius: 16px;
    box-shadow: 0 0 20px 8px #d0d0d0;
    overflow: hidden;
    grid-column-start: 2;
    grid-row-start: 2;
  }
  
   /*Image*/
  .cardc4-1-image {
    height: 100%;
    width: 100%;
    position: absolute;
    transition: all 1s cubic-bezier(0.645, 0.045, 0.355, 1);
    background-image: url('../IMG/bootstrap\ print.png');
  }
  
  /*Description */
  .cardc4-1-description {
    display: flex;
    position: absolute;
    gap: .5em;
    flex-direction: column;
    background-image: linear-gradient( white, #f5f5f5, rgb(214, 214, 214));
    color: #212121;
    height: 70%;
    bottom: 0;
    border-radius: 16px;
    transition: all 1s cubic-bezier(0.645, 0.045, 0.355, 1);
    padding: 1rem;
  }
  
  /*Text*/
  .text-titlec4-1 {
    font-size: 1.5rem;
    font-weight: 700;
    
  }
  
  .text-bodyc4-1 {
    font-size: 1rem;
    line-height: 200%;
  }
  
  
  /* Hover states */
  .cardc4-1:hover .cardc4-1-description {
    transform: translateY(100%);
  }
  
  .card4-2 {
    height: 100%;
    width: 100%;
    position: relative;
    transition: all 0.4s cubic-bezier(0.645, 0.045, 0.355, 1);
    border-radius: 16px;
    box-shadow: 0 0 20px 8px #d0d0d0;
    overflow: hidden;
    grid-row-start: 2;
    grid-column-start: 4;
  }
  
   /*Image*/
  .card4-2-image {
    height: 100%;
    width: 100%;
    position: absolute;
    transition: all 1s cubic-bezier(0.645, 0.045, 0.355, 1);
    background-image: url('../IMG/print\ portfolio.png');
  }
  
  /*Description */
  .card4-2-description {
    display: flex;
    position: absolute;
    gap: .5em;
    flex-direction: column;
    background-image: linear-gradient( white, #f5f5f5, rgb(214, 214, 214));
    color: #212121;
    height: 70%;
    bottom: 0;
    border-radius: 16px;
    transition: all 1s cubic-bezier(0.645, 0.045, 0.355, 1);
    padding: 1rem;
  }
  
  /*Text*/
  .text-title4-2 {
    font-size: 1.5rem;
    font-weight: 700;
  }
  
  .text-body4-2 {
    font-size: 1rem;
    line-height: 200%;
  }
  
  
  /* Hover states */
  .card4-2:hover .card4-2-description {
    transform: translateY(100%);
  }
  
  .card4-3 {
    height: 100%;
    width: 100%;
    position: relative;
    transition: all 0.4s cubic-bezier(0.645, 0.045, 0.355, 1);
    border-radius: 16px;
    box-shadow: 0 0 20px 8px #d0d0d0;
    overflow: hidden;
    grid-row-start: 2;
    grid-column-start: 6;
  }
  
   /*Image*/
  .card4-3-image {
    height: 100%;
    width: 100%;
    position: absolute;
    transition: all 1s cubic-bezier(0.645, 0.045, 0.355, 1);
    background-image: url('../IMG/printplovo.png');
  }
  
  /*Description */
  .card4-3-description {
    display: flex;
    position: absolute;
    gap: .5em;
    flex-direction: column;
    background-image: linear-gradient( white, #f5f5f5, rgb(214, 214, 214));
    color: #212121;
    height: 70%;
    bottom: 0;
    border-radius: 16px;
    transition: all 1s cubic-bezier(0.645, 0.045, 0.355, 1);
    padding: 1rem;
  }
  
  /*Text*/
  .text-title4-3 {
    font-size: 1.5rem;
    font-weight: 700;
  }
  
  .text-body4-3 {
    font-size: 1rem;
    line-height: 200%;
  }
  
  
  /* Hover states */
  .card4-3:hover .card4-3-description {
    transform: translateY(100%);
  }

  .container5{
    height: 100vh;
    display: grid;
    grid-template-rows: 3.5% 5% 3.5% 26.6% 1% 26.6% 1% 26.6% 1% 5%;
    grid-template-columns: 2.5% 47.5% 47.5% 2.5%;
  }

  .titulocontainer5{
    grid-row-start: 4;
    grid-column-start: 3;
    align-self: center;
    justify-self: center;
    letter-spacing: 3px
  }

  .container5 p{
    line-height: 150%;
  }

  .conteudo1container5{
    grid-column-start: 2;
    grid-row: 4;
    border: 1px solid;
    border-radius: 17px;
    box-shadow: rgba(50, 50, 93, 0.25) 0px 6px 12px -2px,
    rgba(0, 0, 0, 0.3) 0px 3px 7px -3px;
  transition: all ease-in-out 0.5s;
    
  }

  .conteudo1container5:hover{
    background-color: #fdfdfd;
    box-shadow: rgba(0, 0, 0, 0.09) -1px 2px 1px, rgba(0, 0, 0, 0.09) -4px 4px 2px,
      rgba(0, 0, 0, 0.09) -8px 8px 4px, rgba(0, 0, 0, 0.09) -16px 16px 8px,
      rgba(0, 0, 0, 0.09) -32px 32px 16px, rgba(0, 0, 0, 0.09) -64px 64px 32px;
      transition: all ease-in-out 0.5s;
      ;
}

  .conteudo1container5 img{
    height: 100%;
    width: 100%;
    border: 1px solid;
    border-radius: 16px;
  }

 

  

  .conteudo3container5{
    grid-column-start: 2;
    grid-row-start: 6;
    border: 1px solid;
    border-radius: 16px;
    box-shadow: rgba(50, 50, 93, 0.25) 0px 6px 12px -2px,
    rgba(0, 0, 0, 0.3) 0px 3px 7px -3px;
  transition: all ease-in-out 0.5s;
  }

  .conteudo3container5:hover{
    background-color: #fdfdfd;
    box-shadow: rgba(0, 0, 0, 0.09) -1px 2px 1px, rgba(0, 0, 0, 0.09) -4px 4px 2px,
      rgba(0, 0, 0, 0.09) -8px 8px 4px, rgba(0, 0, 0, 0.09) -16px 16px 8px,
      rgba(0, 0, 0, 0.09) -32px 32px 16px, rgba(0, 0, 0, 0.09) -64px 64px 32px;
      transition: all ease-in-out 0.5s;
      ;
}

  .conteudo3container5 img{
    height: 100%;
    width: 100%;
    border: 1px solid;
    border-radius: 17px;
  } 
  
  .conteudo2container5{
    grid-column-start: 2;
    grid-row-start: 8;
    border: 1px solid;
    border-radius: 17px;
    box-shadow: rgba(50, 50, 93, 0.25) 0px 6px 12px -2px,
    rgba(0, 0, 0, 0.3) 0px 3px 7px -3px;
  transition: all ease-in-out 0.5s;
  }

  .conteudo2container5:hover{
    background-color: #fdfdfd;
    box-shadow: rgba(0, 0, 0, 0.09) -1px 2px 1px, rgba(0, 0, 0, 0.09) -4px 4px 2px,
      rgba(0, 0, 0, 0.09) -8px 8px 4px, rgba(0, 0, 0, 0.09) -16px 16px 8px,
      rgba(0, 0, 0, 0.09) -32px 32px 16px, rgba(0, 0, 0, 0.09) -64px 64px 32px;
      transition: all ease-in-out 0.5s;
      ;
}

  .conteudo2container5 img{
    height: 100%;
    width: 100%;
    border: 1px solid;
    border-radius: 16px;
  }

.container5 p {
    grid-row: 6;
    grid-column: 3;
    align-self: center;
    justify-self: center;
    margin: 5%;
}

.espacobranco{
    height: 10vh;
}

  .entrarcontato{
    height: 10vh;
    display: grid;
  }

  .entrarcontato h2{
    justify-self: center;
    font-family: 'embedcode';
    font-size: 250%;
  }

  .card {
 
    background-color: rgb(238, 238, 238);
    display: grid;
    align-items: center;
    justify-content: center;
    box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.055); 
    grid-template-columns: 25% 25% 25% 25%;
    justify-items: center;
    align-items: center;
    height: 12vh;
  }
  
  /* for all social containers*/
  .socialContainer {
    width: 52px;
    height: 52px;
    background-color: rgb(44, 44, 44);
    display: flex;
    align-items: center;
    justify-content: center;
    overflow: hidden;
    transition-duration: .3s;
   
  }
  /* instagram*/
  .containerOne:hover {
    background-color: #d62976;
    transition-duration: .3s;
  }

  .containerOne{
    grid-column: 1;
  }
  /* twitter*/
  .containerTwo:hover {
    background-color: #00acee;
    transition-duration: .3s;
  }

  .containerTwo{
    grid-column:2;
  }

  /* linkdin*/
  .containerThree:hover {
    background-color: #0072b1;
    transition-duration: .3s;
  }

  .containerThree{
    grid-column: 3;
  }

  /* Whatsapp*/
  .containerFour:hover {
    background-color: #128C7E;
    transition-duration: .3s;
  }
  
.containerFour{
    grid-column: 4;
}

  .socialContainer:active {
    transform: scale(0.9);
    transition-duration: .3s;
  }
  
  .socialSvg {
    width: 17px;
  }
  
  .socialSvg path {
    fill: rgb(255, 255, 255);
  }
  
  .socialContainer:hover .socialSvg {
    animation: slide-in-top 0.3s both;
  }
  
  @keyframes slide-in-top {
    0% {
      transform: translateY(-50px);
      opacity: 0;
    }
  
    100% {
      transform: translateY(0);
      opacity: 1;
    }
  }

  /* Adicione essas regras de mídia ao seu arquivo CSS */

/* Para telas menores que 768px (como smartphones) */
@media (max-width: 768px) {
  .header {
    grid-template-columns: 25% 25% 25% 25% ;
  }
}
  
  @media (max-width: 768px) {
    .container1{
      display: grid;
      grid-template-columns: 2.5% 95% 2.5%;
      grid-template-rows: 2.5% 5% 2.5% 20% 70%;
      height: 120vh;
    }
  }
    @media (max-width: 768px) {
      .container1 .card1{
        grid-row-start: 5;
        grid-row-end: 5;
        grid-column-start: 2;
        grid-column-end: 3;
        height: 80%;
      }
    }
      @media (max-width: 768px) {
        .titulocontainer1{
          grid-row-end: 2;
          grid-column-start: 2; 
          align-self: center;
          justify-self: center;
        }
      }
        @media (max-width: 768px) {
        .descricaoinicial {
          grid-row-start: 4;
          grid-column-start: 2;
          align-self: center;
          justify-self: center;
        }
      }
        @media (max-width: 768px) {
          .container2{
            grid-template-rows: 2.5% 20% 75% 2.5%;
            grid-template-columns: 2.5% 95% 2.5%;
            height: 100vh;
          }
        }

        @media (max-width: 768px) {
          .titulocontainer2{
            align-self: start;
          }

          @media (max-width: 768px) {
            .container3{
              background-image: none;
              height: 0vh;
            }

        @media (max-width: 768px) {
          .conteudocontainer2{
            grid-row-start: 3;
          }
        }

        @media (max-width: 768px) {
          .espaco3{
            height: 0;
            width: 0;
          }

          @media (max-width: 768px) {
            .divisoria1{
              width: 0vw;
            }

            @media (max-width: 768px) {
              .header a{
                font-size: 10px;
              }

              .header span {
                padding: 0;
              }

              @media (max-width: 768px) {
                .header .cta1 {
                  grid-column-start: 1;
                }

                @media (max-width: 768px) {
                  .header .cta2 {
                    grid-column-start: 2
                  }

                  @media (max-width: 768px) {
                    .header .cta3 {
                      grid-column-start: 3
                    }

                    @media (max-width: 768px) {
                      .header .cta4 {
                        grid-column-start: 4
                      }

                @media (max-width: 768px) {
                  .header span .titulocontainer-2{grid-column-start: 2
                  }

                  @media (max-width: 768px) {
                    .container4{
                      grid-template-rows: 5% 25% 5% 25% 5% 25% 10%;
                      grid-template-columns: 2.5% 95% 2.5%;
                      height: 125vh;
                    }
                    @media (max-width: 768px) {
                      .titulocontainer4{
                        grid-column-start: 2;
                        grid-row-start: 1
                      }

                    @media (max-width: 768px) {
                      .card4-1{
                        grid-column-start: 2;
                        grid-row-start: 2;
                      }

                      @media (max-width: 768px) {
                        .cardc4-1-image{
                          background-image: url('../IMG/printprevola.png');
                          background-repeat: no-repeat;
                          background-size: cover;
                        }

                        @media (max-width: 768px) {
                          .card4-1{
                            height: 60vh;
                          }
  


                      @media (max-width: 768px) {
                        .text-titlec4-1, .text-title4-2, .text-title4-3{
                        font-size: 16px;
                        }

                    @media (max-width: 768px) {
                      .card4-2{
                        grid-column-start: 2;
                        grid-row-start: 4;
                      }
                      
                      

                      @media (max-width: 768px) {
                        .card4-2-image{
                          background-image: url('../IMG/printportfolioII.png');
                          background-repeat: no-repeat;
                          background-size: cover;
                        }

               
                      @media (max-width: 768px) {
                        .card4-3{
                          grid-column-start: 2;
                          grid-row-start: 6;
                        }

                        @media (max-width: 768px) {
                          .card4-3-image{
                            background-image: url('../IMG/printplovooo.png');
                            background-repeat: no-repeat;
                            background-size: cover;
                          }

                          @media (max-width: 768px) {
                            .container5{
                              height: 150vh;
                              grid-template-columns:2.5% 95% 2.5% ;
                              grid-template-rows:  5% 2.5% 12.5% 3% 12.5% 3% 12.5% 3% 46%;
                            }

                            @media (max-width: 768px) {
                              .titulocontainer5{
                                grid-row-start: 1;
                                grid-column-start: 2;
                                align-self: center;
                                justify-self: center;
                              }

                              @media (max-width: 768px) {
                                .conteudo1container5{
                                  grid-row-start: 3
                                }
        
                                @media (max-width: 768px) {
                                  .conteudo2container5{
                                    grid-row-start: 5;
                                  }

                                  @media (max-width: 768px) {
                                    .conteudo3container5{
                                      grid-row-start: 7;
                                    }

                                    @media (max-width: 768px) {
                                      .container5 p{
                                        grid-row-start: 9;
                                        grid-column-start: 2
                                      }

                                      @media (max-width: 768px) {
                                        .espaco{
                                         height: 0;
                                        }

                                        @media (max-width: 768px) {
                                          .entrarcontato{ font-size: 12px;
                                            align-self: center
                                          }

                                        
                
              
            
          
    
  

  @import url('https://fonts.googleapis.com/css2?family=Raleway:ital,wght@0,100..900;1,100..900&display=swap');
  @import url('https://fonts.googleapis.com/css2?family=Inconsolata:wght@200..900&family=Raleway:ital,wght@0,100..900;1,100..900&display=swap');